div.titre{
    width:100%;
    height: auto;
    text-align: center;
    font-size:100px;
    background-repeat: no-repeat;
    background-size: 100% 210px;    
}
footer{
    width:1500px;
    height: 300px;
    background-position: right;
}
div.texte{  
    font-size:20px;
    width:400px;
        margin: auto;
}
h1{
    text-align: center;
    font-size: 50px;
}
div.competences img{
    width: 100px;
    height: 100px;
    display: inline-block;
}
div.stages{
    display: flex;
    justify-content: space-between; /* espace entre les deux blocs */
    align-items: flex-start; /* aligne en haut */
    width: 1000px;
    margin: auto;
    
}
div.stageF3{
    width: 45%;
    font-size: 20px;
    margin: auto;
    display: inline-block;
    text-align: left;
}
div.stageF3 img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
div.stageCRBE{
    width: 45%;
    font-size: 20px;
    margin: auto;
    display: inline-block;
    text-align: right;
}